<div>
  <div>
    <%= form_with url: root_path, method: :get, data: {controller: "dropdown", action: "change->dropdown#submit"} do |f| %>
      <%= f.collection_select :country, countries, :first, :second, prompt: true, selected: params[:country] %>

      <% if states.present? %>
        <%= f.collection_select :state, states, :first, :second, selected: params[:state] %>
      <% end %>
    <% end %>
  </div>

  <%= turbo_frame_tag :cities do %>
    <% if cities.present? %>
      <div class="mt-6">
        <h2>Cities in <%= country_name %></h1>
        <ul class="list-disc">
          <% cities.each do |city| %>
            <li><%= city %></li>
          <% end %>
        </ul>
      <div>
    <% end %>
  <% end %>
</div>
